<!DOCTYPE html>
<html lang="en" ng-app="erebus">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>erebus - Tor Relay Dashboard</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/flat-ui.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/static/css/erebus.css" rel="stylesheet">    
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default erebus-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 class="erebus-logo">erebus</h1>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="fa fa-fw fa-dashboard"></i> &nbsp; Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://erebus.github.io" target="_blank">
                            <i class="fa fa-fw fa-question-circle"></i> &nbsp; Documentation
                        </a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div ng-controller="relayInfo" id="subnav" class="container-fluid">
            <div class="row">
                <div class="col-lg-2 erebus-info">
                    <span class="bold"><i class="fa fa-fw fa-info-circle"></i> Tor version:</span> {{!info.version}}
                </div>
                <div class="col-lg-3 erebus-info">
                    <i class="fa fa-fw fa-user bold"></i> {{!info.nickname}}
                </div>
                <div class="col-lg-4 erebus-info">
                    <i class="fa fa-fw fa-key bold"></i> {{!info.fingerprint}}
                </div>
                <div class="col-lg-3 erebus-info">
                    <i class="fa fa-fw fa-circle bold status-{{!info.status}}"></i> {{!info.status}}
                </div>
            </div><!-- /.container-fluid -->
        </div>

        <div id="page-wrapper" class="container-fluid">
            <div class="col-lg-7 col-xs-12">

                <!-- Bandwidth graph -->                
                <div ng-controller="bandwidthGraph" id="bw" class="erebus-panel">
                    <div class="row panel-header">
                        <div class="col-lg-6">
                            <h6><i class="fa fa-fw fa-bar-chart"></i> Live bandwidth usage</h6>
                        </div>
                        <div class="col-lg-6">
                            
                            <div class="btn-group pull-right erebus-settings" dropdown keyboard-nav>
                                <button id="single-button" type="button" class="btn btn-primary btn-sm" dropdown-toggle ng-disabled="disabled">
                                    Settings <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                    <li role="menuitem" ng-class="{selected: maxValue.autoAdjust}" data-ng-click="changeMaxValue()">
                                        <a href="#"><i ng-if="maxValue.autoAdjust" class="fa fa-fw fa-check"></i> Auto adjust max value</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li role="menuitem" ng-class="{selected: maxValue.custom}">
                                        <a href="#" ng-click="maxValueModalBox()">
                                            <i ng-if="maxValue.custom" class="fa fa-fw fa-check"></i> Custom max value
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- /.btn-group .erebus-settings -->
                            
                        </div>
                    </div>
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-lg-4 erebus-info">
                                <span class="bold"><i class="fa fa-fw fa-minus-circle"></i> Limit:</span> {{!stats.limit}}
                            </div>
                            <div class="col-lg-4 erebus-info">
                                <span class="bold"><i class="fa fa-fw fa-line-chart"></i> Burst:</span> {{!stats.burst}}
                            </div>
                            <div class="col-lg-4 erebus-info">
                                <span ng-if="stats.measured" class="bold"><i class="fa fa-fw fa-dashboard"></i> Measured:</span> {{!stats.measured}}
                                <span ng-if="stats.observed" class="bold"><i class="fa fa-fw fa-dashboard"></i> Observed:</span> {{!stats.observer}}
                            </div>
                        </div>
                        <div id="bw-graph">
                            <linechart class="graph" data="data" options="options" mode="" width="" height=""></linechart>
                        </div>
                        <div class="read">
                            <div class="row">
                                <div class="col-lg-4 erebus-info">
                                    <span class="bold"><i class="fa fa-fw fa-download"></i> Read:</span> {{!stats.read}}
                                </div>
                                <div class="col-lg-4 erebus-info">
                                    <span class="bold">Average:</span> {{!stats.read_avg}}
                                </div>
                                <div class="col-lg-4 erebus-info">
                                    <span class="bold">Total:</span> {{!stats.read_total}}
                                </div>
                            </div>
                        </div>
                        <div class="written">
                            <div class="row">
                                <div class="col-lg-4 erebus-info">
                                    <span class="bold"><i class="fa fa-fw fa-upload"></i> Written:</span> {{!stats.written}}
                                </div>
                                <div class="col-lg-4 erebus-info">
                                    <span class="bold">Average:</span> {{!stats.write_avg}}
                                </div>
                                <div class="col-lg-4 erebus-info">
                                    <span class="bold">Total:</span> {{!stats.write_total}}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /ng-controller -->

            </div><!-- /.col-lg-7 -->
            
            <div class="col-lg-5 col-xs-12">

                <!-- Log console -->
                <div ng-controller="logConsole" class="erebus-panel">
                    <div class="row panel-header">
                        <div class="col-lg-6">
                            <h6><i class="fa fa-fw fa-flag"></i> Log console</h6>
                        </div>
                        <div class="col-lg-6">
                            
                            <div class="btn-group pull-right erebus-settings" dropdown keyboard-nav>
                                <button id="single-button" type="button" class="btn btn-primary btn-sm" dropdown-toggle ng-disabled="disabled">
                                    Settings <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                    <li role="menuitem" ng-show="hideDuplicates">
                                        <a href="#" data-ng-click="duplicates()"><i class="fa fa-fw fa-eye"></i> Show duplicates</a>
                                    </li>
                                    <li role="menuitem" ng-hide="hideDuplicates">
                                        <a href="#" data-ng-click="duplicates()"><i class="fa fa-fw fa-eye-slash"></i> Hide duplicates</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li role="menuitem">
                                        <a href="#" ng-click="eventFiltering()"><i class="fa fa-fw fa-cog"></i> Log events filter</a>
                                    </li>
                                </ul>
                            </div><!-- /.btn-group .erebus-settings -->

                        </div>
                    </div>
                    <div class="panel-content">
                        <div id="log-console">
                            <div ng-repeat="entry in entries" class="event">
                                <div class="row">
                                    <div class="col-lg-2 type">
                                        <span class="badge {{!entry.type}}">{{!entry.type}}</span>
                                        <span>{{!entry.time}}</span>
                                    </div>
                                    <div class="col-lg-10 text">
                                        <span ng-if="entry.count">({{!entry.count}})</span>
                                        <span>{{!entry.message}}</span>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /ng-repeat -->
                        </div><!-- /ng-controller -->
                    </div>
                </div><!-- /ng-controller -->

            </div><!-- /.col-lg-5 -->

        </div>
    </div> <!-- /wrapper -->
    
    <script src="/static/js/lib/angular.js"></script>
    <script src="/static/js/lib/d3.min.js"></script>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/ui-bootstrap-tpls-0.13.4.min.js"></script>

    <script src="/static/js/plugins/angular-websocket.js"></script>
    <script src="/static/js/plugins/line-chart.min.js"></script>
    <script src="/static/js/plugins/jquery.slimscroll.min.js"></script>
    <script src="/static/js/plugins/jquery-scripts.js"></script>
    
    <script type="text/javascript">
    'use strict';
    angular
        .module('erebus.config', [])
        .constant('CONFIG', {
            'server_address': "ws://{{ config['server.address'] }}:{{ config['server.port'] }}",
            'ws': {
                {% for item in config['websockets'] %}
                    '{{ item }}': "{{ config['websockets'][item] }}",
                {% end %}
            },
            'event_filters': "{{ config['events.filter'] }}",
        });
    </script>
    
    <script type="text/ng-template" id="chooseMax.html">
        <div class="modal-body">
            Choose a custom maximum value for the Y axis of the graph:
            <input type="text" size="4" ng-model="value" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update()">Update</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="eventFiltering.html">
        <div class="modal-body">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="eventTypes.debug" btn-checkbox>Debug</label>
                <label class="btn btn-primary" ng-model="eventTypes.info" btn-checkbox>Info</label>
                <label class="btn btn-primary" ng-model="eventTypes.notice" btn-checkbox>Notice</label>
                <label class="btn btn-primary" ng-model="eventTypes.warn" btn-checkbox>Warning</label>
                <label class="btn btn-primary" ng-model="eventTypes.err" btn-checkbox>Error</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update()">Update</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script src="/static/js/app/erebus.js"></script>

    <script src="/static/js/app/factories/bandwidthWebsocket.js"></script>
    <script src="/static/js/app/factories/infoWebsocket.js"></script>
    <script src="/static/js/app/factories/logWebsocket.js"></script>
    <script src="/static/js/app/factories/logEntry.js"></script>
    <script src="/static/js/app/factories/logGroup.js"></script>

    <script src="/static/js/app/controllers/bandwidth.js"></script>
    <script src="/static/js/app/controllers/log.js"></script>
    <script src="/static/js/app/controllers/info.js"></script>
</body>
</html>
